body {
    font-family: 'Montserrat', sans-serif;
}

/*------Index.html Page------*/

/*homepage design*/
#home{
    background-image: url('images/homeBackground.jpg');
    background-size: auto;
    color: #FFFF;
}
.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.split header{
    margin: 49px;
    font-size: 25px;
}

.left{
    left: 0;
}

/*homepage image*/
.homeimg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    max-height: 50%;
}

.right{
    right:0;
    background-color: #9D46FB;
}

.right h3{
    font-size: 40px;
    margin: 20px;
}

.right p{
    font-size: 20px;
    margin:20px;
}

.homebutton {
    position: absolute;
    transform: translate(23%, 12%);
}

.homebutton button{
    width: 50%;
    background-color: #FFFF;
    border-color: #9F84FB;
    border-radius: 25px;
    font-size: 30px;
    font-weight: bold;
    padding: 16px 50px;
    margin: 20px;
}

.homebutton a{
    text-align: center;
    text-decoration: none;
    color: #9F84FB;
}

/* social platform image */
.right img{
    max-height: 50px;
}

.right nav{
    background-color: transparent;
    overflow: hidden;
}

.right nav a{
    float: right;
    text-decoration: none;
    color: #FFFF;
    text-align: center;
    margin-right: 50px;
}
/*------ Main.html Page ------*/
/* Header design*/
.mainheader{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.mainheader img{
    border-radius: 50%;
    height: 145px;
    vertical-align: middle;
}

.mainheader h1, h3{
    margin: 25px;
}

.mainheader h1{
    color: #9F84FB;
    font-size: 50px;
}

.mainheader h3{
    color: #C4C4C4;
    font-size: 25px;
}

.headerdescription {
    text-align: center;
    font-size: 25px;
}

.hr1{
    border-top: 2px solid #C4C4C4;
}

/*about me design*/
#aboutme{
    background-color:#FFFF;
    color:#9484FB;
}

.aboutmeContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#headers{
    display: flex;
    justify-content: space-around;
}

.education{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.education div div{
    display: flex;
    justify-content: space-between;
}

.schandstudy{
    flex-direction: column;
    justify-content: space-evenly;
}

.schandstudy div{
    flex-direction: column;
}

.cca{
    display: flex;
    flex-direction: column;
}

.aboutmeContent h2{
    font-size: 30px;
}

/*skills design*/
#competencyandskills{
    background-color: #4922FB;
    color:#BDFF2C;
}

.sectionName{
    font-size: 50px;
    text-align: center;
}
.skillsContent{
    font-size: 25px;
    border-collapse: collapse;
}
.skillsContent table{
    margin-left: auto;
    margin-right: auto;
}
.skillsContent td{
    text-align: center;
}

.tableLeft{
    vertical-align: top;
}

.hr2{
    border-top: 2px solid #BDFF2C;
}

#header{
    margin: 25px;
    font-size: 50px;

}
/*achievement table design*/
.hr3{
    width: 30%;
    border-top: 2px solid #BDFF2C;
}

.achievement{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 500px;
}
/*project design*/
#project{
    background-color: #FFFF;
    color: #4922FB;
}

/*project images*/
.projectbox{
    display: flex;
    width: 100%;
    background-color: #FFFF;
    flex-wrap: nowrap;
}

.projectN{
    padding: 4%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    border: 1px solid #4922FB;
    margin: 20px;
}
.projectimg img{
    max-width: 100%;
}

.pInfo{
    margin-top: auto;
}

/*------ Contact Page ------*/



footer{
    background-color: #C4C4C4;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

footer img{
    max-height: 50px;
    border-radius: 50%;
}

.borderImage{
    border-radius: 50%;
}
